@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    margin: 25px;
    background-color: rgba(227, 172, 69, 0.729);
    font-family: verdana;
    font-size: 20px;
}

h3 {
    margin-top: 20px;
    background-color: rgba(233, 228, 133, 0.296);
    font-size: 30px;
    font-weight: bolder;
}

p {
    margin-top: 10px;
    margin-left: 15px;
    background-color: light rgba(170, 172, 226, 0.795);
}
